node_*/*
.idea/*
.next/*
.vscode/*
*.code-workspace
*.log
.DS_Store
**/__snapshots__/**
coverage/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
